
DatabaseServlets/.settings/org.eclipse.wst.jsdt.ui.superType.name
DatabaseServlets/.settings/.jsdtscope
DatabaseServlets/.settings/org.eclipse.jdt.core.prefs
DatabaseServlets/.settings/org.eclipse.wst.common.component
DatabaseServlets/.settings/org.eclipse.wst.common.project.facet.core.xml
DatabaseServlets/.settings/org.eclipse.wst.jsdt.ui.superType.container
