* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.user {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
    left: 55%;
}

.user a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.user label {
    color: white;
    font-size: 25px;
}
input[type=text] {
    margin-top: 10px;
    padding: 5px 0px;  
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


input[type=submit] {
    margin-top: 10px;
    padding:5px 15px; 
    text-transform: uppercase;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
