* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.create {
    position: absolute;
    top: 33%;
    left: 55%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

input[type=text] {
    font-size: 20px;
 }

input[type=date] {
    font-size: 20px;
 }
 
input[type=password] {
    font-size: 20px;
 }
 
input[type=number] {
    font-size: 20px;
 }
 
input[type=email] {
    font-size: 20px;
 }

input[type=submit] {
    margin-top: 10px;
    font-size: 15px;
    padding:5px 15px; 
    text-transform: uppercase;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

select {
    font-size: 12px;
    padding:5px 10px; 
    text-transform: uppercase;
    background:white; 
    cursor:pointer;
  }

  select::-ms-expand {
    display: none;
  }